//
// Mixins
// --------------------------------------------------


// Media queries
@mixin for($cond) {
  $breakpoint: nth($cond, 1);
  $condition: nth($cond, 2);

  $screen: 'screen';
  $media: '';

  @if $condition == 'up' {
    $media: 'min-width';
  }

  @if $condition == 'down' {
    $media: 'max-width';
  }

  @if str-length($media) < 1 {
    @warn 'Wrong condition "#{$condition}"!';
  }

  @media #{$screen} and (#{$media}: breakpoint($breakpoint)) {
    @content;
  }
}

// Font face
@mixin font-face($font-family, $file, $font-weight: 'normal', $font-style: 'normal') {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: font($file + '.eot');
    src: font($file + '.eot?#iefix') format('embedded-opentype'),
         font($file + '.woff2') format('woff2'),
         font($file + '.woff') format('woff'),
         font($file + '.ttf') format('truetype');
  }
}
