.box {
  background: $body-bg;
  margin: 0;
  padding: 45px 35px;
  width: 100%;
  text-align: center;
  float: left;
  position: relative;

  @include for(md down) {
    padding: 25px 35px;
    float: none;
    display: block;
  }

  .icon-kim_jestesmy, .icon-co_robimy, .icon-dlaczego_to_robimy {
    color: $primary-color;
    font-size: 60px;
    display: block;
    margin-bottom: 20px;
  }

  h1, h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: $grey-dark;
    margin-bottom: 20px;
    display: block;
  }

}