.header {
  height: 362px;
  /*background: url(../images/header.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 0;
  color: $white;
  margin-bottom: 50px;
  text-align: center;

  @include for(sm down) {
    height: 150px;
  }


  .wrapper {
    height: 100%;
    display: table;

    .header-container {
      display: table-cell;
      vertical-align: middle;
    }

    h3 {
      color: $white;
      margin: 0;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-family: 'Century Gothic';
          font-size: 60px;
    margin-bottom: 20px;
      font-weight: 400;

      @include for(sm down) {
        font-size: 36px;
        margin-bottom: 20px;
      }
    }


  }

  @media print {
    display: none;
  }
}

.content {
  margin-bottom: 30px;

  ul {
    padding: 0;

    li {
      list-style: none;
      padding-left: 20px;
      padding-bottom: 10px;
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        top: 8px;
        left: 0;
        width: 7px;
        height: 7px;
        border-radius: 7px;
        background: $primary-color;
        display: block;
      }
    }
  }

  .col-md-8 {
    @include for(md down) {
      padding: 0;
    }
    @include for(sm down) {

      &:first-of-type {
        .article-header {
          margin-top: 0;
        }

      }
    }
  }
  
/*  @include for(sm down) {
    .col-md-8 {
      float: none;
      display: block;
      background: blue;
    }
  }*/
}

/*.page-template-template-contact {
    @include for(sm down) {
        .col-md-3 {
      float: none;
      display: block;
    }
            .col-md-9 {
      float: none;
      display: block;
    }
  }
}*/

.homepage-wrapper {
  margin-top: -120px;
  
      @include for(sm down) {
      margin-top: 0;
    }

  .row {
    margin: 0;
  }
}

.article-header {
  position: relative;
  padding-left: 42px;
  margin-bottom: 40px;  

  @include for(md down) {
    margin-top: 40px;
  }


  &.formularz {
    margin-bottom: 26px;
    &:before {
      content: '\e907';
      position: absolute;
      top: 2px;
      left: -8px;
      font-family: 'icons';
      color: $primary-color;
      font-size: 42px;
    }
  }
  &.kim-jestesmy {
      @include for(md down) {
    margin-top: 0;
  }
    &:before {
      content: '\e90a';
      position: absolute;
      top: 2px;
      left: -8px;
      font-family: 'icons';
      color: $primary-color;
      font-size: 36px;
    }
  }
  &.co-robimy {
    &:before {
      content: '\e904';
      position: absolute;
      top: -2px;
      left: -6px;
      font-family: 'icons';
      color: $primary-color;
      font-size: 36px;
    }
  }
  &.dlaczego-to-robimy {
    &:before {
      content: '\e905';
      position: absolute;
      top: 2px;
      left: -6px;
      font-family: 'icons';
      color: $primary-color;
      font-size: 36px;
    }
  }
} 

.blog, .single-post {
  article {
    margin-bottom: 20px;
  
    time {
      font-size: 13px;
      font-style: italic;
      margin-bottom: 10px;
    display: block;
    }
    
    .author {
      display: none;
    }
  }
  
}