$background: rgba($black, .85);

#cookie-notice {
  background-color: rgba(0,0,0,.85) !important;
  
  a {
    font-weight: 600;
    color: $white;
  }
  
  .button {
    border: none;
    background: $black;
    width: auto;
    display: inline-block;
    margin: 0 0 0 1.25rem;
    padding: 0 1.25rem;
    color: #fff;
    line-height: 1.875rem;
  }
}