footer {
  padding: 0 0 30px;
  font-size: 13px;

  .copyright {
    padding-top: 30px;
    border-top: 1px solid $grey-form;
  }

  .footer-separator {
    border-bottom: 1px solid $grey-form;
    text-align: center;
    margin-bottom: 30px;

    span {
      background: $body-bg;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: $grey-dark;
      display: inline-block;
      position: relative;
    bottom: -12px;
    padding: 0 15px;
    }
  }

  .footer-box {
    color: $white;
    padding: 30px;
    margin: 0 auto;
    max-width: 690px;

    @include for(sm down) {
      margin: 0 40px;
      padding: 15px 0;
    }

    h2 {
      color: $footer-primary;
      position: relative;
      padding-bottom: 25px;
      display: block;
    }

    a {
      color: $white;

      &.mail {
        color: $footer-primary;
      }

      &:hover {
        color: $footer-primary;
      }
    }

    .col-md-4 {
      padding: 0 30px;

    }
  }

  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }


  .text-right {
    @include for(md down) {
      text-align: center !important;
    }
  }

  .copyright {
    @include for(sm down) {
      text-align: center;
    }
  }

  @media print {
    display: none;
  }
}

.page-template-template-contact .footer-box, .page-template-template-contact .footer-separator{
  display: none;
}

