.page-template-template-main-php {
  padding-top: 60px;
  @include for(sm down) {
    padding-top: 20px;

    .text-left, .text-center {
      text-align: center !important;
    }
  }

  .image-row {
    text-align: center;
    display: block;

    .image-box {
      position: relative;
      display: inline-block;

      .logo-holder{
        display: block;
        position: absolute;
        top: 210px;
        left: 50px;
        @include for(sm down) {
          position: static;
        }
      }

      .button {
        padding: 15px;
        width: 270px;
        border: 2px solid $grey-form;  

        &.button-clients {
          position: absolute;
          top: 315px;
          left: -91px;
          @include for(sm down) {
            position: static;
            margin-bottom: 20px;
          }
        }

        &.button-partners {
          position: absolute;
          top: 315px;
          right: -67px;
          @include for(sm down) {
            position: static;
            margin-bottom: 20px;
          }
        }
      }
    }
  }


}