

// Hamburger
@mixin hamburger(
  $width: 32px,
  $height: 25px,
  $color: $blue-dark,
  $background: transparent,
  $border-radius: 0,
  $helper: '',
  $bar-size: 4px
) {
  position: relative;
  background: $background;
  box-shadow: none;
  border: 0;
  padding: 0;

  outline: 0;

  width: $width;
  height: $height;
  // z-index: $menu-toggle-index;



  @if str-length($helper) > 1 {
  }
}

// Menu toggle
.menu-toggle {
  /*@extend %button-reset;*/
  position: relative;
  margin-left: auto;
  width: rem(32px);
  height: rem(24px);

  float: right;
  margin-top: rem(12px);

  background: $white;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }

  > span {
    display: inline-block;
    vertical-align: middle;

    &, &:before, &:after {
      width: 100%;
      height: 4px;

      background: $primary-color;
      transition: all .25s ease;
    }

    &:before, &:after {
      content: '';

      position: absolute;
      left: 0;
    }

    &:before {
      top: 3px;
    }

    &:after {
      bottom: -2px;
    }
    

  }

  &.js-toggled {
    > span {
      background: transparent;

      &:before, &:after {
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  &:after {
    content: 'Menu';
    line-height: 1;
    font-size: rem(12px);

    position: absolute;
    top: 110%;
    left: 0;
    right: 0;

    margin-top: rem(2px);
  }
}