.page-template-template-homepage {

  header {
    position: absolute;
    top: 0;
    width: 100%;

    @include for(sm down) {
      position: static;
    }
  }
  .navbar {
    background: none;
    border-color: transparent;
  }

  .navbar-default .navbar-nav ul li a {
    color: $white;
    @include for(sm down) {
      color: #000;
    }
  }
}


.navbar {
  position: relative;
  z-index: 12;
  text-transform: uppercase;
  background: $white;
  padding: 15px 0 5px;
  margin-bottom: -2px;
  overflow-x: hidden;
}

.navbar-toggle {
  border: none;
  margin-top: 15px;
  padding: 7px 0;
  margin-right: 0;

  @include for(sm down) {
    margin-top: 3px;
  }

  &:hover, &:focus {
    background: none !important;
  }

  .icon-bar {
    background-color: $primary-color !important;
    width: 32px;
    height: 4px;
    border-radius: 0;
  }

}


.navbar-default {
  .navbar-nav {
    margin-left: auto;
    float:right;
    /*padding: 15px 0;*/

    @media (max-width: 767px) {
      float: none;
      margin: 0;
      border: 0;
      text-align: center;
      text-transform: none;
    }

    ul {
      li {
        &:not(:first-child) {
          margin-left: 1px;
        }

        &.menu-item-114, &.menu-item-226 {

          a {
            visibility: hidden;
            width: 70px;
            &:before {
              content: '\e90e';
              font-family: 'icons';
              font-size: 32px;
              visibility: visible;
            }

          }

          @include for(sm down) {
            display: none;
          }
        }



        a {
          display: inline-block;
          color: $navbar;
          padding: rem(36px) rem(20px);
          background: transparent;
          border: 1px solid transparent;
          transition: color .35s ease, border .35s ease;

          @include for(sm down) {
            padding: rem(15px) rem(10px);
          }

          @media (min-width: 768px) and (max-width: 825px) {
            padding: rem(23px) rem(6px);
          }
        }

        &.active a,
        a:hover {
          color: $secondary-color !important;
          background: none;
          transition: color .35s ease;
        }

        &.active a {
          border-width: 1px;
          border-style: solid;
          /*border-color: $navbar-border;*/
          @include for(md down) {
            border: none;
          }
        }
      }

      ul {
        display: none;
      }
    }

  }
}


.navbar-info {
  form {
    input {
      width: rem(275px);
      /*border: 1px solid $grey-light;*/
    }
  }
}

.navbar-social {
  margin-left: rem(30px);

  li {
    &:not(:first-child) {
      margin-left: rem(15px);
    }
  }

  a {
    display: inline-block;
    color: $white;
    font-size: rem(28px);
    text-align: center;

    border-radius: 50%;
  }

  [class^="color-"] {
    transition: background .15s ease;
  }
}

.navbar-brand {
  a {
    display: inline-block;

    svg {
      vertical-align: middle;
    }
  }
}

.js-nav-mobile .navbar-nav>ul {
  width: 100%;
  display: block!important;
  background: $white;
  text-align: center;
}

.js-nav-mobile .navbar-nav>ul>li {
  float: none;
}

.lang-select {
  margin-left: 15px;

  .flag {
    width: 16px;
    height: 11px;
    display: inline-block;
    padding: 23px;

    @include for(sm down) {
      padding: 23px 10px;
    }

    /*    &.flag-pl {
          background: url(../assets/images/pl.png) no-repeat center;
        }
    
        &.flag-en {
          background: url(../assets/images/en.png) no-repeat center;
        }*/
  }
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: none !important;
}