.partners-slider {

  @include for(sm down) {
    margin: 10px 0;
  }

  .slide {
    height:80px;
    display: table;
    &:focus {
      outline: none;
    }
    &:hover {
      img {
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        @include transition(-webkit-filter 0.35s ease, opacity 0.35s ease);
      }

    }
    img {
      margin: 0 auto;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: 0.7;
      @include transition(-webkit-filter 0.35s ease, opacity 0.35s ease);
    }
    .slide-img {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .slick-prev{
    width: 32px;
    height: 32px;
    left: -271px;
    @include for(lg down) {
      left: -40px;
    }
    &:before {
      content: '\e902';
      font-family: 'icons';
      color: $grey-light;
      font-size: 32px;
      margin-top: -16px;
    }
  }
  .slick-next{
    width: 32px;
    height: 32px;
    right: -270px;
    @include for(lg down) {
      right: -38px;
    }
    &:before {
      content: '\e903';
      font-family: 'icons';
      color: $grey-light;
      font-size: 32px;
      margin-top: -16px;
    }
  }

}

.main-slider {

  opacity: 0;

  .slick-prev {
    width: 32px;
    height: 32px;
    left: 50px;
    z-index: 10;

    @include for(sm down) {
      left: 10px;
    }

    &:before {
      content: '\e902';
      font-family: 'icons';
      color: $grey-light;
      font-size: 32px;
      margin-top: -16px;
    }
  }

  .slick-next {
    width: 32px;
    height: 32px;
    right: 50px;
    z-index: 10;

    @include for(sm down) {
      right: 10px;
    }

    &:before {
      content: '\e903';
      font-family: 'icons';
      color: $grey-light;
      font-size: 32px;
      margin-top: -16px;
    }
  }

  .slide {
    position: absolute;
    top: 0;

    &:first-child {
      position: relative;
    }

  }

  .slide-background {
    opacity: 0;
    height: 720px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 0 300px;
    @include for(xl down) {
      height: 600px;
    }
    @include for(md down) {
      padding: 0 100px;
    }
    @include for(sm down) {
      height: 400px;
      padding: 0 20px;
    }
  }

  .slide-header {
    /*position: absolute;*/
    width: 100%;
    padding-bottom: 150px;
    /*top: 22%;*/
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
    color: $white;
    text-align: center;
    @include for(xl down) {
      padding-bottom: 120px;
    }

    @include for(sm down) {
      padding-bottom: 25px;
    }

    h2 {
      font-size: 42px;
      font-weight: 400;
      max-width: 620px;
      margin: 0 auto 15px;
      font-family: 'Century Gothic';
    }

    span {
      max-width: 620px;
      margin: 0 auto;
    }

    .button {

      background: none;
      color: $secondary-color;
      border: 1px solid $white;

      &:hover {
        color: lighten($secondary-color, 10%);
      }
    }



  }

  .slick-dots {

    position: absolute;
    bottom: 23%;

    @include for(sm down) {
      bottom: 0;
    }

    li {
      button {
        background: none;
        width: 13px;
        height: 13px;
        border-radius: 13px;
        border: 2px solid $white;
      }
      &.slick-active button {
        background: $white;
      }
    } 
  }


  &.slick-initialized {
    opacity: 1;
    @include transition(opacity .35s ease);

    .slide {
      position: relative;
    }

    .slide-background {
      opacity: 1;
      @include transition(opacity .35s ease);
    }
  }
  .slide {
    &:focus {
      outline: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

