//
// Base styles
// --------------------------------------------------


* {
  backface-visibility: hidden;
}


address {
  font-style: normal;
}

section {
  & {
    *zoom: 1;
  }

  &:after, &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


strong {
  color: $primary-color;

}

code {
  padding: 0;
  color: $grey-dark;

  strong {
    text-transform: uppercase;
    color: $grey-dark;
  }
}

a {
  color: $primary-color;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    color: darken($primary-color, 10%);
    text-decoration: none !important;
  }

  @include for(sm up) {
    &[href^="tel:"] {
      pointer-events: none;
    }
  }
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
  
  &.content {
    margin-bottom: 30px !important;
  }
}

.logo {
  display: inline-block;
  text-indent: -9999px;
  width: 285px;
  height: 85px;
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  @include for(sm down) {
    width: 142px;
    height: 42px;
    background-size: cover;
  }
}

.logo2 {
  display: inline-block;
  text-indent: -9999px;
  width: 312px;
  height: 92px;
  background: red;
  background: url(../images/logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  @include for(sm down) {
    width: 270px;
    height: 79px;
    background-size: cover;
  }
}

ul.unstyled {

  padding: 0;

  li {
    list-style: none;  
  }

}

#map-canvas {
  height: 360px;
  margin-bottom: 50px;
}

.b-lazy {
  opacity:0;
  transition: opacity .25s ease
}
.b-loaded {
  opacity:1;
  transition: opacity .25s ease
}

  @include for(sm down) {
    .wrapper {
      width: 100%;
      display: block;
      
      .row {
        width: 100%;
      display: block;
      }
    }
  }

::-moz-selection {
  color: $white;
  background: $primary-color;
}

::selection {
  color: $white;
  background: $primary-color;
}

// Font face
@mixin font-face($font-family, $file, $font-weight: 'normal', $font-style: 'normal') {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: font($file + '.eot');
    src: font($file + '.eot?#iefix') format('embedded-opentype'),
      font($file + '.woff2') format('woff2'),
      font($file + '.woff') format('woff'),
      font($file + '.ttf') format('truetype');
  }
}
