//
// Typography
// --------------------------------------------------


// Defaults
$text-color: $black !default;
$text-family: 'Open Sans', Helvetica, Arial, sans-serif;
$text-size: 14px !default;
$text-weight: 400 !default;
$text-line-height: 1.6rem !default;
$text-paragraph-margin: 0 0 1.8em !default;

$text-heading-color: inherit !default;
$text-heading-family: $text-family !default;
$text-heading-weight: 700 !default;
$text-heading-margin: 0 0 .5em !default;
$text-heading-line-height: 1.15em !default;

$h1-size: rem(20px) !default;
$h2-size: rem(20px) !default;
$h3-size: rem(20px) !default;
$h4-size: rem(16px) !default;
$h5-size: rem(14px) !default;
$h6-size: rem($text-size) !default;

@include font-face('Open Sans', 'OpenSans-Light-webfont', 300, normal);
@include font-face('Open Sans', 'OpenSans-Regular-webfont', 400, normal);
@include font-face('Open Sans', 'OpenSans-Semibold-webfont', 600, normal);
@include font-face('Open Sans', 'OpenSans-Bold-webfont', 700, normal);

@include font-face('Century Gothic', 'CenturyGothic-webfont', 400, normal);

// Base
html {
  @if $text-size != 16px {
    font-size: $text-size;
  }

  @include for(md down) {
    font-size: rem(15px);
  }

  @include for(sm down) {
    font-size: rem(13px);
  }
}

body {
  color: $text-color;
  font-family: $text-family;
  font-weight: $text-weight;
  line-height: $text-line-height;
  background: $body-bg;

}

* {
  text-overflow: ellipsis;
  // text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


// Paragraphs
p {
  margin: $text-paragraph-margin;

  &:empty {
    display: none;
  }

  &:last-child,
    &:only-child {
    margin-bottom: 0;
  }
}


// Headings
h1, h2, h3 {
  color: $text-heading-color;
  font-family: $text-heading-family;
  font-weight: $text-heading-weight;
  margin: $text-heading-margin;
  line-height: $text-heading-line-height;
  text-transform: uppercase;
  &:before {
    font-weight: 300;
  }
}

h4, h5, h6 {
  color: $text-heading-color;
  font-family: $text-heading-family;
  font-weight: $text-weight;
  margin: $text-heading-margin;
  line-height: $text-heading-line-height;
}

$heading-sizes: (
h1: $h1-size,
h2: $h2-size,
h3: $h3-size,
h4: $h4-size,
h5: $h5-size,
h6: $h6-size
);

@each $tag, $size in $heading-sizes {
  #{$tag} {
    font-size: $size;
  }
}


// Creates text direction classes: text-left, text-right, text-center
// e.g. '.text-left' for 'text-align: left;'
@each $direction in (left, right, center) {
  .text-#{$direction} {
    text-align: $direction;
  }
}