.button {
  display: inline-block;
  background: $white;
  border: 2px solid $primary-color;
  text-transform: uppercase;
  padding: 15px 10px;
  color: $grey-light;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  /*width: 100%;*/
  transition: color .25s ease, border-color .25s ease;
  
  &:hover {
    color: lighten($grey-light, 10%);
    border-color: lighten($primary-color, 10%);
    transition: color .25s ease, border-color .25s ease;
  }
}