.wpcf7-form {

  /*max-width: 800px;*/
  margin: 0 auto;

  input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], select, textarea {
    border: 1px solid $grey-form;
    height: 2.8125rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;

    padding-left: .9375rem;
    padding-right: .9375rem;
    box-sizing: border-box;
    width: 100%;
    margin-top: .3125rem;
    ::-webkit-input-placeholder {
      color: $grey-light;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $grey-light; 
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: $grey-light;
    }

    :-ms-input-placeholder {  
      color: $grey-light;
    }

    outline: none;
    /*border: none !important;*/
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    transition: border-color .25s ease;

    &:focus {
      border: 1px solid lighten($primary-color, 10%);
      transition: border-color .25s ease;
    }

    &.wpcf7-not-valid {
      border: 1px solid red;
    }
  }
  textarea {
    padding-top: .75rem;
    height: 12.5rem;
    resize: none;
  }
  .wpcf7-list-item-label {
    cursor: pointer;
  }
  .wpcf7-submit {
    margin-top: 3px;
    float: right;
    border: 2px solid #dadada;
    background: #fff;
    display: inline-block;
    text-transform: uppercase;
    color: #6e6e6e;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    padding: 15px 60px;
    border-radius: 0;
    &:focus {
      outline: none;
    }
  }

  span.wpcf7-not-valid-tip {
    display: none;
  }
  div.wpcf7-response-output {
    margin: 4em 0.5em 1em;
  }
}