//
// Lists
// --------------------------------------------------


// List reset
%list-reset {
  display: inline-block;
  vertical-align: middle;

  margin: {
    top: 0;
    bottom: 0;
  }

  padding: {
    left: 0;
  };

  list-style: none;
}

.list-default {
  @extend %list-reset;
}

%list-inline {
  @extend %list-reset;

  > li {
    float: left;
  }
}


// list inline do not need list-default class
.list-inline {
  @extend %list-inline;
}


// list margin shoud have list-inline class
@mixin list-margin($margin: $grid-columns-gutter) {
  > li {
    margin-left: $margin;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.list-margin {
  @include list-margin;
}
