//
// Settings
// --------------------------------------------------


// Colors
$white: white;
$black: black;

$body-bg: #f5f5f5;

$grey-dark: #3e3e3e;
$grey-light: #6e6e6e;
$grey-form: #dadada;

$slider-black: rgba(0,0,0,0.8);
$slider-red: rgba(222,32,32,0.8);
$slider-white: rgba(255,255,255,0.2);
$slider-transparent: rgba(255,255,255,0);

$background: #eeeff0;

$alert-error: #e74c3c;
$alert-info: #3498db;
$alert-success: #2ecc71;

$primary-color: #608b1c;
$secondary-color: #dee47b;

/*$grey-light: #d1d1d1;*/

$navbar: $black;
$navbar-active: #de2020;

$footer-bg: $black;
$footer-primary: $white;
$footer-regular: #939393;

$sand-dark: #8f8681;
$sand-light: #d1d1d1;
$sand-lightest: #f4e0d4;